<<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Fake Pypi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Fake pipy</h1>
        
        <div>User: ${user_name}</div>

        <ul>
            <li>fastapi</li>
            <li>uvicorn</li>
            <li>chameleon</li>
        </ul>
    </body>
</html>